@import "tailwindcss";

:root {
  --background: #F5F7FA;
  --foreground: #1F2937;

  --header-bg: #E3E7ED;

  --font-app: "Poiret One", cursive;
  --font-title: "Cormorant Garamond", serif;
  --font-text: "Quicksand", sans-serif;

  --font-app-color: #6D597A;
  --font-title-color: #3B3A4F;
  --font-text-color: #374151;

  --scrollbar-thumb: #B0A8B9;
  --scrollbar-track: #E4E7EB;
  --scrollbar-hover: #A0A4B2; 
}

* {
  box-sizing: border-box;
  transition: all 300ms linear;
}

html, body, h1, h2, h3, h4, h5, h6, p, span, div, a {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--font-text-color);
  font-family: var(--font-text);
}

header {
  background: var(--header-bg);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--font-title-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
}

p, span, div, a {
  font-family: var(--font-text);
  color: var(--font-text-color);
}

.app-name {
  font-family: var(--font-app);
  font-size: 2.5rem;
  color: var(--font-app-color);
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
  transition: background 300ms linear;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}